@charset "UTF-8";

:root {
    --cor-1: #FBF8F3;
    --cor-2: #CFB58A;
    --cor-3: #A58552;
    --cor-4: #7A5B28;
    --cor-5: #50360D;
}


main {
    position: relative;
    max-width: 1000px;
    min-width: 300px;
    background-color: var(--cor-3);
    margin: auto;
    padding: 30px;
}

.container {
    display: inline-block;
    border-radius: 30px;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    background-color: var(--cor-2);
    border: 2px solid black;
}

.container h1 {
    margin-bottom: 20px;
}

#info-container {
    position: relative;
    width: 330px;
}

main h1 {
    text-align: center;
}

.info {
    margin-top: -5px;
    font-family: "Passion One";
    font-size: 20px;
    padding-bottom: 10px;
}

.dado-info-container {
    background-color: var(--cor-3);
    text-align: center;
    border: 2px solid var(--cor-1);
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
}

.dado-info-container:hover {
    cursor: cell;
    transform: scale(1.1);
}


#icontainers {
    text-align: center;
}

#nivel {
    font-family: "Passion One";
    font-size: 25px;
    margin-top: -10px;
}

.atributos {
    font-family: "Passion One";
    font-size: 20px;
}

