@charset "UTF-8";

:root {
    --cor-1: #A8AAC4;
    --cor-2: #77799A;
    --cor-3: #5a5d8f;
    --cor-4: #1E2145;
    --cor-5: #1E2145;
}

#main-historia img {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.438);
}

#ataque-container p {
    margin-right: 500px;
}

