@charset "UTF-8";

:root {
    --cor-1: #f8f8f8;
    --cor-2: #CBCBCB;
    --cor-3: #A9A9A9;
    --cor-4: #878787;
    --cor-5: #656565;
}

#main-historia img {
    box-shadow: 5px 5px 5px black;
}

.lot-habilidade {
    display: block;
    background-color: rgba(255, 255, 255, 0.418);
    padding: 5px;
    margin: -10px 5px 5px 0px;
    border: 2px solid white;
    border-radius: 10px;
}

.subhabilidade {
    font-size: 17px;
}

.subataque-efeito {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.322);
    padding: 1px;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
}

.divide-subhabilidade {
    display: block;
    margin-bottom: 5px;
}

.images-container img {
    max-width: 200px;
    min-width: 100px;
}

#ataque-container p {
    margin-right: 500px;
}