@charset "UTF-8";

:root {
    --cor-1: #f8f8f8;
    --cor-2: #CBCBCB;
    --cor-3: #A9A9A9;
    --cor-4: #878787;
    --cor-5: #656565;
}

#main-historia img {
    box-shadow: 5px 5px 5px black;
}

.images-container img {
    max-width: 200px;
    min-width: 100px;
}
